In [1]:
# 匯入套件
import pandas as pd

In [2]:
# 匯入已知資料
df_ER = pd.read_csv('ER201001202105.csv')
df_ER = df_ER.rename(columns = {'期間':'Date', '新台幣NTD/USD':'NTD/USD'}, inplace = False)
df_ER

          Date  NTD/USD
0     20100104   31.898
1     20100105   31.860
2     20100106   31.875
3     20100107   31.877
4     20100108   31.880
...        ...      ...
2831  20210525   27.876
2832  20210526   27.821
2833  20210527   27.822
2834  20210528   27.767
2835  20210531   27.657

[2836 rows x 2 columns]

In [3]:
# 匯入套件
import requests
from bs4 import BeautifulSoup

# 美麗的湯類別
html = requests.get('https://www.cbc.gov.tw/tw/lp-645-1-1-60.html')
html.encoding = 'utf8'
soup = BeautifulSoup(html.text, 'lxml')

# 抓取所需要的資料
items = soup.find('table', class_='rwd-table').find_all('span')

In [4]:
# 將資料存入 list
outlist = []
inlist = []

for i in range(4, 46):
    if i%2 == 0:
        inlist.append(items[i].text[0:4]+items[i].text[5:7]+items[i].text[8:10])
    if i%2 == 1:
        inlist.append(items[i].get_text())
        outlist.insert(0, inlist)
        inlist = []

In [5]:
# 將資料存入 dataframe
df = pd.DataFrame(outlist, columns = ['Date', 'NTD/USD'])
df_ER = df_ER.append(df, ignore_index = True)
df_ER

          Date NTD/USD
0     20100104  31.898
1     20100105   31.86
2     20100106  31.875
3     20100107  31.877
4     20100108   31.88
...        ...     ...
2852  20210624  28.002
2853  20210625  27.907
2854  20210628  27.910
2855  20210629  27.908
2856  20210630  27.870

[2857 rows x 2 columns]

In [6]:
# 存檔
import os
if os.path.exists('data') is False:
    os.makedirs('data')
    
df_ER.to_csv('data/ExchangeRate_NTD2USD.csv')